<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    routerLink="/master-data/employee"
    routerLinkActive="active"
    aria-current="true"
  >
    Employee
  </a>
  <a
    class="list-group-item list-group-item-action"
    routerLink="/master-data/customer"
    routerLinkActive="active"
    >Customer</a
  >
  <a
    class="list-group-item list-group-item-action"
    routerLink="/master-data/department"
    routerLinkActive="active"
    >Department</a
  >
</div>
